/* .navigation {
	box-sizing: border-box;
	width: 240px;
	height: 100vh;
	padding-top: 70px;
	float: left;
	position: sticky;
	top: 0;

	ul {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}

	.button {
		cursor: default;
		display: flex;
  		align-items: center;
		min-height: 48px;
		color: var(--in-content-category-text);
		margin-inline-start: 34px;
		padding-inline-end: 10px;
		padding-inline-start: 10px;
		transition: background-color 150ms;

		&:hover, &:active, &:focus {
			text-decoration: none;
		}

		&:hover {
			background-color: var(--in-content-category-background-hover);
			border-radius: 2px;
		}

		&:active {
			color: var(--in-content-category-text-selected);
			background: none;
		}

		.icon {
			width: 24px;
			height: 24px;
			fill: currentColor;
		}

		.name {
			font-size: 1.07em;
			line-height: 1.4em;
			padding-bottom: 2px;
			padding-inline-start: 9px;
			margin: 0;
			-moz-user-select: none;
		}
	}
} */

body {
	overflow: auto;
}

.main-content {
    padding: 82px 40px 40px;
}

.pane-container {
    display: block;
    width: 664px;
}

.subcategory.with-icon {
    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
    }

    /* .header-name {
        font-weight: 700;
    } */
}

.groupbox-title h2 {
	padding: 4px 0;
	font-size: 1.14em;
}

form {
    margin: 1em 0;
}

button {
    padding-left: 10px;
    padding-right: 10px;
}

.radio-group {
    margin: 1px 0px 1px 0px;
}

.radio {
    margin-bottom: 10px;

    &:hover label::before {
        border-color: var(--in-content-border-focus);
    }

    input {
        display: none;

        &:checked + label::after {
            background-color: #2292d0;
        }
    }

    label {
        display: block;
		margin-left: 28px;
        line-height: 20px;
		position: relative;

		&::before,
		&::after {
			content: '';
			display: block;
            border-radius: 100%;
			position: absolute;
            top: 0;
			left: -30px;
		}

		&::before {
            width: 18px;
            height: 18px;
            background-color: var(--in-content-box-background);
            border: 1px solid var(--in-content-box-border-color);
		}

        &::after {
            width: 10px;
			height: 10px;
			background-color: transparent;
			left: -25px;
			top: 5px;
        }
	}
}

#formBlockSite .field-group {
	display: flex;

	input {
		flex: 1;
        margin: 0 4px 0 0;
	}

	button {
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 0;
	}
}

.table-wrapper,
.blocked-sites {
	width: 100%;
}

.table-wrapper {
	box-sizing: border-box;
	min-height: 150px;
    background-color: var(--in-content-box-background);
	border: 1px solid var(--in-content-box-border-color);
    border-radius: 2px;
}

.blocked-sites {
	border-collapse: collapse;

	thead {
		border-bottom: 1px solid var(--in-content-border-color);

        th {
            background-color: var(--in-content-box-background-hover);
            color: #808080;
            font-weight: normal;
        }

        .icon-wrapper {
            margin-left: -3px;
        }
	}

    tr:nth-child(even) {
        background-color: var(--in-content-box-background-odd);
    }

	td, th {
        height: 20px;
		padding: 5px 10px;
		line-height: 20px;
		vertical-align: middle;
	}

	.column-website,
	.column-visits,
    .column-blocks {
		text-align: left;
	}

	.column-button {
		text-align: right;
	}

    button {
		display: block;
        width: 22px;
        min-width: auto;
        height: 22px;
        min-height: auto;
        margin: -1px -5px -1px auto;
        padding: 0;
        background-repeat: no-repeat;
        background-position: center;

		-moz-context-properties: fill, fill-opacity;
		background-image: url(chrome://global/skin/icons/close.svg);
		color: inherit !important;
		fill: currentColor;
		fill-opacity: 0;
    }
}

// Icon
.icon {
    fill: currentColor;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
	overflow: visible;
}

// Tooltip
[data-tooltip] {
	cursor: help;
    display: inline-block;
    border-bottom: 1px dotted var(--in-content-page-color);
}

@import 'css-tooltip/src/css-tooltip.scss';

// Misc
.d-block {
	display: block;
}
