.main-content {
    padding: 40px;
    overflow: auto;
}

.pane-container {
    display: block;
    width: 664px;
}

.subcategory.with-icon {
    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
    }

    .header-name {
        font-weight: 700;
    }
}

form {
    margin: 1em 0;
}

button {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.table-wrapper,
.blocked-sites {
	width: 100%;
}

.table-wrapper {
	min-height: 150px;
    background-color: #fff;
	border: 1px solid #d7d7db;
    border-radius: 2px;
	overflow: hidden;
}

.blocked-sites {
	border-collapse: collapse;

	thead {
		background-color: rgb(235, 235, 235);
		border-bottom: 1px solid #d7d7db;
	}

    tr:nth-child(even) {
        background-color: #F5F5F5;
    }

	td, th {
		height: 26.5px;
		padding: 5px 10px;
		line-height: 18px;
		vertical-align: middle;
	}

	.column-website,
	.column-visits {
		text-align: left;
	}

	.column-button {
		text-align: right;
	}

    button {
		display: block;
        min-height: auto;
        margin: 0;
        margin-left: auto;
        background-color: transparent;
    }
}
