/* .navigation {
	box-sizing: border-box;
	width: 240px;
	height: 100vh;
	padding-top: 70px;
	float: left;
	position: sticky;
	top: 0;

	ul {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}

	.button {
		cursor: default;
		display: flex;
  		align-items: center;
		min-height: 48px;
		color: var(--in-content-category-text);
		margin-inline-start: 34px;
		padding-inline-end: 10px;
		padding-inline-start: 10px;
		transition: background-color 150ms;

		&:hover, &:active, &:focus {
			text-decoration: none;
		}

		&:hover {
			background-color: var(--in-content-category-background-hover);
			border-radius: 2px;
		}

		&:active {
			color: var(--in-content-category-text-selected);
			background: none;
		}

		.icon {
			width: 24px;
			height: 24px;
			fill: currentColor;
		}

		.name {
			font-size: 1.07em;
			line-height: 1.4em;
			padding-bottom: 2px;
			padding-inline-start: 9px;
			margin: 0;
			-moz-user-select: none;
		}
	}
} */

.main-content {
    padding: 82px 40px 40px;
    overflow: auto;
}

.pane-container {
    display: block;
    width: 664px;
}

.subcategory.with-icon {
    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
    }

    /* .header-name {
        font-weight: 700;
    } */
}

.groupbox-title h2 {
	padding: 4px 0;
	font-size: 1.14em;
}

form {
    margin: 1em 0;
}

button {
    padding-left: 10px;
    padding-right: 10px;
}

.radio-group {
    margin: 1px 0px 1px 0px;
}

#formBlockSite .field-group {
	display: flex;

	input {
		flex: 1;
	}

	button {
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 0;
	}
}

.table-wrapper,
.blocked-sites {
	width: 100%;
}

.table-wrapper {
	box-sizing: border-box;
	min-height: 150px;
    background-color: #fff;
	border: 1px solid #d7d7db;
    border-radius: 2px;
	overflow: hidden;
}

.blocked-sites {
	border-collapse: collapse;

	thead {
		background-color: rgb(235, 235, 235);
		border-bottom: 1px solid #d7d7db;

        .icon {
            margin-left: -3px;
        }
	}

    tr:nth-child(even) {
        background-color: #F5F5F5;
    }

	td, th {
		height: 26.5px;
		padding: 5px 10px;
		line-height: 18px;
		vertical-align: middle;
	}

	.column-website,
	.column-visits,
    .column-blocks {
		text-align: left;
	}

	.column-button {
		text-align: right;
	}

    button {
		display: block;
        min-height: auto;
        margin: 0;
        margin-left: auto;
        background-color: transparent;
    }
}

.icon {
    fill: currentColor;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
	overflow: visible;
}

.d-block {
	display: block;
}
