body {
    min-width: 200px;
    min-height: 60px;
}

.container {
    padding: 1em 1.2em;
}

button {
    padding-left: 10px;
    padding-right: 10px;
}

.button-group {
    display: flex;
}

.toggle-button,
.add-domain-section button {
    width: 100%;
    margin: 0;
}

.toggle-button.off {
    background-color: var(--in-content-primary-button-background);
    border-color: transparent;
    color: #fff !important;

    &:hover {
        background-color: var(--in-content-primary-button-background-hover);
    }

    &:active {
        background-color: var(--in-content-primary-button-background-active);
    }
}

.prefs-button {
    display: inline-block;
    width: 34.5px;
    height: 34.5px;
    min-width: auto;
    margin: 0 0 0 0.5em;
	border: 0;
	position: relative;
    z-index: 100;
	color: var(--grey-90-a60);

	.icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	};
}

.add-domain-section button {
    display: none;
    margin: 0.5em 0 0;
    font-size: 12px;

    &.add-button {
        background-color: var(--red-60);

		&:hover {
	        background-color: var(--red-70);
	    }

	    &:active {
	        background-color: var(--red-70);
	    }
    }

    &.remove-button {
        background-color: var(--green-60);

		&:hover {
	        background-color: var(--green-70);
	    }

	    &:active {
	        background-color: var(--green-80);
	    }
    }
}

@media (prefers-color-scheme: dark) {
	.prefs-button {
		color: var(--in-content-page-color);
	}
}

// Icon
.icon {
    fill: currentColor;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
	overflow: visible;
}
