body {
    min-width: 200px;
    min-height: 60px;
}

.container {
    padding: 1em 1.2em;
}

button {
    padding-left: 10px;
    padding-right: 10px;
}

.button-group {
    display: flex;
}

.toggle-button,
.add-domain-section button {
    width: 100%;
    margin: 0;
}

.toggle-button.off {
    background-color: var(--in-content-primary-button-background);
    border-color: transparent;
    color: #fff !important;

    &:hover {
        background-color: var(--in-content-primary-button-background-hover);
    }

    &:active {
        background-color: var(--in-content-primary-button-background-active);
    }
}

.prefs-button {
    display: inline-block;
    width: 16px;
    height: 16px;
    min-width: auto;
    margin: 0 0 0 0.5em;
    padding: 15px;
    background-color: transparent;
    background-image: url('chrome://browser/skin/settings.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    border: 0;
    z-index: 100;
    vertical-align: middle;
    fill: var(--grey-90-a60);
    -moz-context-properties: fill;
}

.add-domain-section button {
    display: none;
    margin: 0.5em 0 0;
    font-size: 12px;

    &.add-button {
        background-color: var(--red-60);

		&:hover {
	        background-color: var(--red-70);
	    }

	    &:active {
	        background-color: var(--red-70);
	    }
    }

    &.remove-button {
        background-color: var(--green-60);

		&:hover {
	        background-color: var(--green-70);
	    }

	    &:active {
	        background-color: var(--green-80);
	    }
    }
}

@media (prefers-color-scheme: dark) {
	.prefs-button {
		fill: var(--in-content-page-color);
	}
}
