body {
    min-width: 200px;
    min-height: 60px;
}

.container {
    padding: 1em 1.2em;
}

button {
    padding-left: 10px;
    padding-right: 10px;
}

.button-group {
    display: flex;
}

.options:hover {
    background-color: #EDEDF0;
}

.toggle-button,
.add-domain-section button {
    cursor: pointer;
    width: 100%;
    margin: 0;
}

.toggle-button {
    flex: 1;

    &.off {
        background-color: #0a84ff;
        border-color: transparent;
        color: #fff;

        &:hover {
            background-color: #0060df;
        }

        &:active {
            background-color: #003EAA;
        }
    }
}

.prefs-button {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    max-width: auto;
    height: 16px;
    margin: 0 0 0 0.5em;
    padding: 15px;
    background-color: transparent;
    background-image: url( 'chrome://browser/skin/settings.svg' );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    border: 0;
    z-index: 100;
    vertical-align: middle;
    fill: rgba( 12, 12, 13, 0.6 );
    -moz-context-properties: fill;
}

.add-domain-section button {
    display: none;
    margin: 0.5em 0 0;
    font-size: 12px;

    &.add-button {
        background-color: #FF4136;
    }

    &.remove-button {
        background-color: #2ECC40;
    }
}
